.logo{
    width:80px;
}

.button {
    background-color: #74a0fa;
    font-size: 10px;
    padding: 10px;
    border-width: 0;
    border-radius: 8px;
    color: aliceblue;
    
}

.button2 {
    background-color: #0c0d0f;
    
    font-size: 18px;
    width: 75%;
    border-width: 0;
    border-radius: 8px;
    color: aliceblue;
    padding:10px;
}


.text{
    font-size: 18px;
}

.head{
    font-size: 50px;
    width:40%;
    font-weight: bold;
}

.container{
    border:1px solid green;
    border-left-width: 0px;
    text-align: center;
    padding:9px;
    background-color: rgb(222, 245, 237);
    box-shadow: #0c0d0f;
}

.container-text{
    font-size: 22px;
}

.icon{
    color:rgb(38, 65, 38)
}

li{
    list-style-type: none;
    display: flex;
    padding-top: 10px;
}

.ul-text{
    font-size:23px;
}

.card-container{
    width:30%;
    border:0px solid #0c0d0f;
    padding:10px;
    margin: 10px;
}

.active{
    border:1px solid rgb(222, 245, 237);
}

.bg-container{
    
    
    background-size: cover;
    background-image: linear-gradient(to right, #ffffff, rgb(123, 183, 231));
    text-align: center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:150vh;
}

.btn-container{
    border:1px solid rgb(109, 212, 253);
    width:25%;
    text-align: center;
    border-radius: 9px;
}

.para{
    font-weight: bold;
}